main{
    display: flex;
    justify-content: center;
    align-items: center;

}
body{
    background-color: rgb(151, 107, 114);
}

#calculadora{

    width: 450px;
    height: 400px;
    background-color:pink;
    padding: 50px;
    border-radius: 15px;


}

#calculadora form{

    height: 100%;
    width: 100%;
    background-color:pink;
    padding: 0px;

}

h1{
font-family: Verdana, Geneva, Tahoma, sans-serif;
color:pink;
display: flex;
justify-content: center;
font-size: 40px;
}

#barra{
    height: 25%;
    width: 93%;
    cursor: default;
    font-family: 'Roboto', sans-serif;
    background-color: white;
    color: pink;
    padding: 15px;
    margin-bottom: 10px;
    text-align: right;
    font-size: 50px;
    border: 0;
    outline: none;
    border-radius: 5px;
}

#calculadora input[type=button], input[type=reset]{
    width: 22%;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 26px;
    color:rgb(238, 165, 176);
    margin: 5px;
    padding: 15px;
    border: 0;
    border-radius: 100%;
    background-color: white;
}